[submodule "vlibs2"]
	path = vlibs2
	url = ssh://git@bb.niias:7999/~elapidae/vlibs2.git
[submodule "livox_sdk"]
	path = livox_sdk
	url = ssh://git@bb.niias:7999/ado/livox_sdk.git
[submodule "zcm_types"]
	path = zcm_types
	url = ssh://git@bb.niias:7999/ado/zcm_types.git
